





@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}


button {
  font-family: 'Montserrat', sans-serif;
}

.container {
  /* min-height: 100vh; */
  width: 100%;
  background-image: linear-gradient(135deg, #178a0d 50% ,#071d09f1 50% );
  /* background-image: url(../images/contact-header.jpg); */
flex-wrap: wrap;
  transform-style: preserve-3d;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 3rem;
}

.menu {
  max-width: 72rem;
  width: 95%;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  
  align-items: center;
  color: #fff;
}

.logo {
  margin-top: 3%;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.logo-img
{
  height: 70px;
}

.hamburger-menu {
  height: 4rem;
  width: 3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.bar {
  width: 1.9rem;
  height: 1.5px;
  border-radius: 2px;
  background-color: #eee;
  transition: 0.5s;
  position: relative;
}

.bar:before,
.bar:after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: #eee;
  transition: 0.5s;
}

.bar:before {
  transform: translateY(-9px);
}

.bar:after {
  transform: translateY(9px);
}

.main {
  position: relative;
  width: 100%;
  left: 0;
  z-index: 5;
  transform-origin: left;
  transform-style: preserve-3d;
  
  transition: 0.5s;
}

header {
  min-height: 100vh;
  width: 100%;
  position: relative;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url(../images/index-header-v2.jpg);

  /* display: flex;
  justify-content: center;
  align-items: center; */
}

@media only screen and (max-width: 600px) {
  
}

.inner {
  max-width: 100%;
  text-align: center;
  color: #fff;
  padding: 0 2rem;
  flex-wrap: wrap;

}

.title {
  font-size: 2.7rem;
}

.btn-Banner {
  width: 90%; 
  border: none;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.6rem 1.3rem;
  background-color: #28a745;
  border-color: #28a745;
  font-size: 0.95rem;
  line-height: 1;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 0;
  
}.btnOne {
  
  border: none;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.6rem 1.3rem;
  background-color: #28a745;
  border-color: #28a745;
  font-size: 0.95rem;
  line-height: 1;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 0;
  width: 444px;
  
}

@media only screen and (max-width: 600px) {
  
}

.container.active .bar {
  transform: rotate(360deg);
  background-color: transparent;
}

.container.active .bar:before {
  transform: translateY(0) rotate(45deg);
}

.container.active .bar:after {
  transform: translateY(0) rotate(-45deg);
}

.container.active .main {
  animation: main-animation 0.5s ease;
  cursor: pointer;
  transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);

}

@keyframes main-animation {
  from {
    transform: translate(0);
  }

  to {
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
  }
}

.links {
  position: absolute;
  width: 30%;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
}

.links a {
  text-decoration: none;
  color: #eee;
  padding: 0.7rem 0;
  display: inline-block;
  font-size: 2rem;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 4px;
  transition: 0.5s;
  opacity: 5;
  transform: translateY(50px);
  animation: hide 0.7s forwards ease;
}

.links a:hover {
  color: rgb(103, 175, 31);;
}

.container.active .links a {
  animation: appear 0.5s forwards ease var(--i);
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes hide {
  from {
    opacity: 1;
    transform: translateY(0px);
  }
  to {
    opacity: 0;
    transform: translateY(10px);
  }
}

.shadow {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  transform-origin: left;
  transition: 0.5s;
  background-color: white;
}

.shadow.one {
  z-index: -1;
  opacity: 0.15;
}

.shadow.two {
  z-index: -2;
  opacity: 0.1;
}

.container.active .shadow.one {
  animation: shadow-one 0.6s ease-out;
  transform: perspective(1300px) rotateY(20deg) translateZ(215px) scale(0.5);
}

@media only screen and (max-width: 600px) {
  
}
@keyframes shadow-one {
  0% {
    transform: translate(0);
  }

  5% {
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
  }

  100% {
    transform: perspective(1300px) rotateY(20deg) translateZ(215px) scale(0.5);
  }
}

.container.active .shadow.two {
  animation: shadow-two 0.6s ease-out;
  transform: perspective(1300px) rotateY(20deg) translateZ(120px) scale(0.5);
}

@media only screen and (max-width: 600px) {
  
}

@keyframes shadow-two {
  0% {
    transform: translate(0);
  }

  20% {
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
  }

  100% {
    transform: perspective(1300px) rotateY(20deg) translateZ(120px) scale(0.5);
  }
}

.container.active .main:hover + .shadow.one {
  transform: perspective(1300px) rotateY(20deg) translateZ(230px) scale(0.5);
}

.container.active .main:hover {
  transform: perspective(1300px) rotateY(20deg) translateZ(340px) scale(0.5);
}






/* -------------------------------------banner----------------------------- */

.My-Idea-block{
  width: 100%;
  text-align: end;
  width: 50%;
  flex-wrap: wrap;
}
.My-Idea-block-cm-1 {
  flex-wrap: wrap; 
  width: 100%; 
  padding-top: 14%;
  line-height: 50px;
  font-size: 25px;

 }
#banner
{
    display: flex;
    flex-wrap: wrap;
    color: rgb(233, 240, 231);
    padding-top: 10%;
    flex-wrap: wrap;

}
#banner h1
{
    flex-wrap: wrap;
    font-weight: 100;
    font-variant: petite-caps;
    font-family: 'Montserrat', sans-serif;

}


#banner h5
{
    flex-wrap: wrap;
    font-weight: 200;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;

}
hr.green-line {
    height: 2px;
    background-color: #56ad38;
    margin-left: 0px;
    border: none;
    margin-top: px;
    margin-bottom: 10px;
}
.img-fluid{
  width: 34em; 
  margin-top: -30px;
}


/* <!-- -------------------------------------------animate -Text------------------------------------ --> */
.Animate-block .animate-text p span{
    display: inline-block;
}


.container1{
  flex-wrap: wrap;

    margin: auto;
    width: 92%;
  }
  
.container1{
  flex-wrap: wrap;

    margin: auto;
    width: 100%;
  }
.home{
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }
.home::before {
    content: ' ';
    position: absolute;
  
  }
.home .home-text{
    text-align: center;
  }
.home .home-text h1{
    color: #b31111;
    font-size: 50px;
    line-height: 56px;
    margin: 0 0 20px;
  }
.home .home-text p span{
    display: inline-block;
    line-height: 60px;
    font-size: 23px;
    display: none;
  }
.home .home-text p span.text-in {
  display: block;  
  animation: textIn .5s ease;
  }
  
.home .home-text p span.text-out {
    animation: textOut .5s ease;
    }
  @keyframes textIn{
    0%{
      transform: translateY(100%);
    }
    100%{
      transform: translateY(0%);
    }
  }
  @keyframes textOut{
    0%{
        transform: translateY(0%);

    }
    100%{
        transform: translateY(-100%);
    }
  }




  /* <!-- -------------------------------We Speak Your Language------------------------------------------ --> */
  .Speak-Your-Language-block{
    display: flex;
  }

  @media only screen and (max-width: 600px) {
    
  }
.Speak-Your-Language-upper-block{
  display: flex;
  align-items: center; 
  width: 833px;     
  margin-left: 5%;     
  padding-top: 2%; 
}
@media only screen and (max-width: 600px) {
 
}
  .Block-Speak-Language{
    display: flex;
    padding: 15px 22px 15px 0;
  
  }
  .Block-Speak-Language-Icon{
    display: flex;
    align-items: center;    
    padding: 15px 23px 0 0; 
  }
  .Block-Speak-Language-Pera{
    width: 90%;
    text-align: justify;
    /* line-height: 20px; */
  
  }
  
    
  .OurService-block{
     z-index: 20;    
     padding-top: 0px; 
     padding-bottom: 70px;     
     padding-left: 34px; 
     display: flex; 
     flex-wrap: wrap;
     align-items: center; 
     justify-content: center;
  
  
  }
  
  @media only screen and (max-width: 600px) {
    
  }
  .Speak-Your-Language-h1{
    font-size:50px; 
    font-weight: 100; 
    word-spacing: 10px;     
    padding: 50px 0; 
  }
  
  @media only screen and (max-width: 600px) {
    
  }
  .Speak-Your-Language-right-block{
    padding-left: 100px;
  }
  @media only screen and (max-width: 600px) {
    
  }
  .Speak-Your-Language{
    padding:8% 5% 11% 2% ; 
    display: flex; 
    color: white;	
    font-family: 'Montserrat', sans-serif;
  
  }
  @media (max-width:600px){
  
  
  }
.circleSec1 {
  border-radius: 50%;
  background: linear-gradient(135deg ,transparent 20%,  #0eb925f1);
  position: absolute;
}

.circleSec1.oneSec1 {
  margin-top: 9%;
  width: 165px;
  height: 165px;
  right: 107px;
  
}


.circleSec2 {
  border-radius: 50%;
  background: linear-gradient(135deg ,  #0eb925f1,transparent 70%);
  position: absolute;
}

.circleSec2.oneSec2 {
  margin-top: 9%;
  width: 165px;
  height: 165px;
  left: 107px;
  
}





 .block-our-SERVICES{
	width: 330px; 
	padding: 2% 2% 2% 1.5%  ;  
	margin: 2%; 
	transition: 0.3s;
	background-color: #ffffff;
	font-family: 'Montserrat', sans-serif;
   color: black;
  border-radius: 15px;
}
/* 
@media only screen and (max-width: 600px) {
 .block-our-SERVICES{
    display: flex;
  }  */
.block-our-SERVICES:hover{

	border-radius: 40px 40px  0 40px ;  
	background-color: rgb(219, 218, 218) ; 
	color: black;
	box-shadow: 3px 3px 3px 3px rgba(238, 236, 236, 0.459) ;	
}
 
.Header-of-title{
  font-size: 20px;
  padding: 10px 0 10px 0;


}
.Header-of-title1{
  font-size: 25px;
  padding: 20px 0 20px 0;


}

.circle {
    border-radius: 50%;
    background: linear-gradient(135deg, transparent 20%, #0af32927);
    position: absolute;
}

.circle1 {
    border-radius: 50%;
	background: linear-gradient(135deg,  #0af32927 ,transparent 80%);
    position: absolute;
}

.circle.one {
	width: 300px;
	height: 300px;
	right: 500px;
}

  
.circle.two {
	width: 500px;
	height: 500px;
	right: 30px;
	margin-top: 20%;
}
.circle1.one {
	width: 400px;
	height: 400px;
	left: 100px;
	margin-top: 38%;

}

.circle1.two {
	width: 220px;
	height: 220px;
	left: 100px;
	margin-top: 10%;
}

@media only screen and (max-width: 600px) {
  
}


 /*------------------------------------------------------OUR SERVICES------------------------------------------------------  */
#mainbox{
  
  
  height: 4rem;
      width: 3rem;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      transition: all .6s;
  
  
  
  }
  .sidemenu{
  position: fixed;
  top: 0px;
  right: 20px;
  height: 102%;
  width: 0px;
  background-color: #0f0f0fef;
  z-index: 20;
  padding-top: 50px;
  overflow-x: hidden;
  transition: all .5s;
  }
  .sidemenu a{
  padding: 8px 8px 8px 64px;
  text-decoration: none;
  font-size: 40px;
  color: #999;
  display: block;
  font-family: 'Montserrat', sans-serif;
  
  }
  .sidemenu a:hover{
  color: rgb(103, 175, 31);
  }
  .sidemenu .closebtn{
  position: absolute;
  top: 0px;
  right: 25px;
  font-size: 36px;
  margin-left: 32px;
  color: rgb(102, 104, 102);
  }
  
  .OurService-bar{
    display: flex; 
    flex-wrap: wrap; 
    align-items: center; 
    justify-content: center; 
    height: 390px;
    text-align: center; 
   
    
  }
  

  
@media only screen and (max-width: 600px) {
  
}
  /* ---------------------------------Slider with Automatic--------------------------- */
  


  .home-Slide{
    height: 70vh;
    overflow: hidden;
    position: relative;
    /* border-radius: 200px 0 200px 0; */

  }

  @media (max-width:600px){
    

  }
  .home-Slide .slide{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: none;
    padding: 0 30px;
    z-index: 1;
    animation: slide 2s ease;
  }
  .home-Slide .slide.active {
    display: flex;
  }
  .home-Slide  .controls-Slid .prev,
  .home-Slide  .controls-Slid .next{
  position: absolute;
  z-index: 2;
  top: 50%;
  height: 40%;
  width: 40px;
  margin-top: -20px;
  color: #ffffff;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  transition: all .5s ease ;
  
  }
  .home-Slide  .controls-Slid .prev:hover,
  .home-Slide  .controls-Slid .next:hover{
  color: rgb(11, 250, 63);}
  
  
  .home-Slide  .controls-Slid .prev{
    left: 0;
  }
  .home-Slide  .controls-Slid .next{
    right: 40;
  }
  
  
  
  @keyframes slide{
    0%{
     transform: scale(1.1);
    }
    100%{
       transform: scale(1);
  
    }
  }
  
  .container-Slide{
    max-width: 1170px;
    margin:auto;
  }
  .home-Slide .container-Slide{
    flex-grow: 1;
  
  }
  .home-Slide .caption-Slide{
  width: 60%;
  }
  
  .home-Slide .caption-Slide h1{
    font-size: 50px;
    color: rgb(147, 241, 138);
    margin: 0;
  } 
  .home-Slide .slide.active  .caption-Slide h2{
    color: #fff;
    opacity: 0;
    animation: captionText .5s ease forwards;
    animation-delay: 1s;
  }
  .home-Slide .caption-Slide p{
    font-size: 20px;
    color: #fff;
    margin: 15px 0 30px;
    font-family: 'Montserrat', sans-serif;
  
  } 
  .home-Slide .slide.active  .caption-Slide p{
    opacity: 0;
    animation: captionText .5s ease forwards;
    animation-delay: 1.2s;
  }
  .home-Slide .caption-Slide a{
    display: inline-block;
    padding: 10px 30px;
    background-color: rgb(21, 68, 19);
    text-decoration: none;
    border-radius: 20px;
    font-weight: 100;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;

    color: #ffffff;
  } 
  .home-Slide .slide.active  .caption-Slide a{
    opacity: 0;
    animation: captionText .5s ease forwards;
    animation-delay: 1.4s;
  }
  @keyframes captionText{
    0%{
      opacity: 0; transform: translateX(5px);
    }
    100%{
      opacity: 1; transform: translateX(100px);
    }
  }















/* -----------------------------------------------container-Us----------------------------------------------------- */



.containerContactUs {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -80px;

}

.formContactUs {
  width: 100%;
  max-width: 839px;
  background-color: rgb(250, 250, 250);
  border-radius: 10px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  z-index: 1;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  margin-top: 17%;
  margin-right: -31px;


}

.contact-form {
  background-color: #24a119fb;
  position: relative;
  width: inherit;

}

.circle {
  border-radius: 50%;
  background: linear-gradient(135deg ,transparent 20%,  #0af32967);
  position: absolute;
}

.circle-one-contact {
  width: 150px;
  height: 150px;  
  top: 112px;
  right: 279px;
}

.circle-two-contact {
  width: 80px;
    height: 80px;
    top: 13px;
    right: 604px;
}
.circle-three-contact {
  width: 150px;
  height: 150px;
  top: 177px;
  right: 491px;

}
.circle-four-contact {
  width: 200px;
  height: 200px;
  top: 297px;
  right: 130px;


}

.contact-form:before {
  content: "";
  position: absolute;
  width: 38px;
  height: 38px;
  background-color: #0af329;
  transform: rotate(45deg);
  top: -19px;
  left: -19px;
}

form {
  padding: 26px 45px 45px 45px;

  z-index: 10;
  overflow: hidden;
  position: relative;

}

.title {
  color: rgb(248, 242, 242);;
  font-weight: 500;
  font-size: 34px;
  line-height: 1;
  margin-bottom: 0.7rem;
  display: flex;
    justify-content: center;
}

.input-container {
  position: relative;
  margin: 1rem 0;
  width: 250px;

}
.input-container-right-side {
  position: relative;
  margin: 1rem 0;
  width: 250px;
  margin-left: 136px;

}

.input {
  width: 355px;
  outline: none;
  border: 2px solid #fdfdfd;
  background: none;
  padding: 0.6rem 1.2rem;
  color: #fafafa;
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  border-radius: 25px;
  transition: 0.3s;
}
.form-text-box{
  display: flex;
}

textarea.input-one {
  padding: 0.8rem 1.2rem;
  min-height: 150px;
  border-radius: 22px;
  resize: none;
  overflow-y: auto;
}
.input-one {
  width: 740px;
  outline: none;
  border: 2px solid #fdfdfd;
  background: none;
  padding: 0.6rem 1.2rem;
  color: #fafafa;
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  border-radius: 25px;
  transition: 0.3s;
}

textarea.input {
  padding: 0.8rem 1.2rem;
  min-height: 150px;
  border-radius: 22px;
  resize: none;
  overflow-y: auto;
}

.input-container label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  padding: 0 0.4rem;
  color: rgb(248, 247, 247);;
  font-size: 0.9rem;
  font-weight: 500;
  pointer-events: none;
  z-index: 1000;
  transition: 0.5s;
  background-color: #24a119fb;

}

.input-container.textarea label {
  top: 1rem;
  transform: translateY(0);
}

.btn-send {
  padding: 0.6rem 1.3rem;
  background-color: #10df40;
   border-color: #10df40;
   color: white;
  font-size: 0.95rem;
  line-height: 1;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 0;
}

.btn:hover {
  background-color: transparent;
  color: rgb(247, 245, 245);;
}

.input-container span {
  position: absolute;
  top: 0;
  left: 25px;
  transform: translateY(-50%);
  font-size: 0.8rem;
  padding: 0 0.4rem;
  color: transparent;
  pointer-events: none;
  z-index: 500;
}

.input-container span:before,
.input-container span:after {
  content: "";
  position: absolute;
  width: 10%;
  opacity: 0;
  transition: 0.3s;
  height: 5px;
  background-color: #229e3d;
  top: 50%;
  transform: translateY(-50%);
}

.input-container span:before {
  left: 50%;
}

.input-container span:after {
  right: 50%;
}

.input-container.focus label {
  top: 0;
  transform: translateY(-50%);
  left: 25px;
  font-size: 0.8rem;
}

.input-container.focus span:before,
.input-container.focus span:after {
  width: 50%;
  opacity: 1;
}

.contact-info {
  padding: 26px 45px 45px 45px;
  position: relative;
}

.contact-info .title {
  color: #229e3d;
}

.text {
  color: rgb(126, 123, 123);
  margin: 1.5rem 0 2rem 0;
}

.information {
  display: flex;
  color: rgb(126, 123, 123);
  margin: 0.7rem 0;
  align-items: center;
  font-size: 0.95rem;
}

.icon {
  width: 28px;
  margin-right: 0.7rem;
}

.social-media {
  padding: 2rem 0 0 0;
}

.social-media p {
    color: rgb(126, 123, 123);
}

.social-icons {
  display: flex;
  margin-top: 0.5rem;
}

.social-icons a {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background: linear-gradient(45deg, #25572c, #229e3d);
  color: #fff;
  text-align: center;
  line-height: 35px;
  margin-right: 0.5rem;
  transition: 0.3s;
}

.social-icons a:hover {
  transform: scale(1.05);
}

.contact-info:before {
  content: "";
  position: absolute;
  width: 110px;
  height: 100px;
  border: 22px solid rgb(6, 87, 6);
  border-radius: 50%;
  bottom: -77px;
  right: 424px;
  opacity: 0.3;
}

.big-circle {
    position: absolute;
    left: 100px;
    width: 339px;
    height: 339px;
    border-radius: 50%;
    background: linear-gradient(to bottom, #0af329ab, #0af329ab);
    /* background-color: #27eb15fb; */

}


.big-circle:after {
  content: "";
    position: absolute;
    width: 231px;
    height: 231px;
    background-color: #fcfcfc;
    border-radius: 50%;
    top: calc(64% - 163px);
    left: calc(64% - 163px);
}


.big-circle-one {
  
    position: absolute;
    right: 70px;
    width: 339px;
    height: 339px;
    border-radius: 50%;
    background: linear-gradient(to bottom, #0af329ab, #0af329ab);
}


.big-circle-one:after {
  
  content: "";
  position: absolute;
  width: 231px;
  height: 231px;
  background-color: #fcfcfc;
  border-radius: 50%;
  top: calc(64% - 163px);
  left: calc(64% - 163px);
}
.white-line-one{
  color: white;
  width: 211px;
  background-color: white;

}

.square {
  position: absolute;
  height: 400px;
  top: 20%;
  right: 35%;
  transform: translate(181%, 11%);
  opacity: 0.2;
}
.square-one {
  position: absolute;
  height: 400px;
  top: 57%;
  transform: translate(181%, 11%);
  opacity: 0.2;
  left: -300px;

}


  
/* ----------------------------------------------------------------- */
.My-Idea_Block{
  display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 6%;

}
.My-Idea_Block-button-a{
  background-color: #28a745; 
  border-color: #28a745;
}
/* -------------------------------footer----------------------------- */

.footer-area {
  margin-top: 183px;
  padding: 100px 0;
 background-image: url(../images/footer-dumy.jpg);
  color:#fff;
  position:relative;
}
.footer-main {
  margin: 0 auto;
}
.footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
}
.single-footer {
  width: 230px;
}
.single-footer:first-child {
  width: 400px;
}
.single-footer h4 {
  text-transform: capitalize;
  font-size: 22px;
  margin-bottom: 20px;
}
.footer-social a {
  color: #fff;
  border: 1px solid #fff;
  width: 40px;
  height: 40px;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.footer-social {
  margin-top: 20px;
}
.single-footer ul {
  list-style: none;
}
.single-footer ul li {
  margin-bottom: 10px;
  position: relative;
  padding-left: 20px;
}
.single-footer ul li a {
  color: #fff;
  text-transform: capitalize;
  text-decoration: none;
}
.single-footer ul li a i {
  position: absolute;
  left: 0;
  top: 5px;
}

.copy {
  text-align: center;
  text-transform: capitalize;
  margin-top: 50px;
}

.footer-wave-box {
  position: absolute;
  left: 0;
  top: 0;
  height: 45px;
  right: 0;
  width: 100%;
  overflow:hidden;
}
.footer-wave {
  background-image: url('../images/footer-shape.png');
  position: absolute;
  left: 0;
  top: 0;
  height: 72%;
  width: 200%;
  background-size:50%;
  background-position:bottom;
  background-repeat:repeat-x;
}


.footer-animation{
    -moz-animation: footer_wave 5s linear infinite;
    -o-animation: footer_wave 5s linear infinite;
    -webkit-animation: footer_wave 5s linear infinite;
    left:auto;
    right:0;
}
@keyframes footer_wave{
  0%{
      -moz-transform:translateX(0%);
  }
  50%{
    -moz-transform:translateX(25%);
  }
  100%{
    -moz-transform:translateX(50%);
  }
}
@keyframes footer_wave{
  0%{
      -moz-transform:translateX(0%);
  }
  50%{
    -moz-transform:translateX(25%);
  }
  100%{
    -moz-transform:translateX(50%);
  }
}

@keyframes footer_wave{
  0%{
      -o-transform:translateX(0%);
  }
  50%{
    -o-transform:translateX(25%);
  }
  100%{
    -o-transform:translateX(50%);
  }
}

@keyframes footer_wave{
  0%{
      -webkit-transform:translateX(0%);
  }
  50%{
    -webkit-transform:translateX(25%);
  }
  100%{
    -webkit-transform:translateX(50%);
  }
}

@media only screen and (max-width:600px){
  
}


.footer-button-pages:hover{
  color: rgb(26, 243, 26);
}
.footer-wave-box-one {
  position: absolute;
  left: 0;
  height: 45px;
  right: 0;
  width: 100%;
  overflow:hidden;
  margin-top: -109px;

}
.footer-wave-one {
  background-image: url('../images/footer-shape.png');
  position: absolute;
  left: 0;
  height: 75%;
  width: 200%;
  background-size:50%;
  background-position:bottom;
  background-repeat:repeat-x;
}

.footer-animation{
  -moz-animation: footer_wave_one 5s linear infinite;
  -o-animation: footer_wave_one 5s linear infinite;
  -webkit-animation: footer_wave_one 5s linear infinite;
  left:auto;
  right:0;
}
@keyframes footer_wave_one{
0%{
    -moz-transform:translateX(0%);
}
50%{
  -moz-transform:translateX(25%);
}
100%{
  -moz-transform:translateX(50%);
}
}
@keyframes footer_wave_one{
0%{
    -moz-transform:translateX(0%);
}
50%{
  -moz-transform:translateX(25%);
}
100%{
  -moz-transform:translateX(50%);
}
}

@keyframes footer_wave_one{
0%{
    -o-transform:translateX(0%);
}
50%{
  -o-transform:translateX(25%);
}
100%{
  -o-transform:translateX(50%);
}
}

@keyframes footer_wave_one{
0%{
    -webkit-transform:translateX(0%);
}
50%{
  -webkit-transform:translateX(25%);
}
100%{
  -webkit-transform:translateX(50%);
}
}












/* -----------------------------------Box-Section-block------------------------------------------------------ */

.Box-Section-block{
   display: flex; 
   justify-content: flex-end;
}
.BUILD-BETTER-SOFTWARE-block{
  position: absolute; 
  margin-top: 250px; 
  color: #242424;
}

.Services-New-Block{
  position: relative;
  padding-left: 0;
  padding-right: 0;

  border-style: solid;
  border-width: 0;
}
.Services-New-Block::before{
 
    position: absolute;
    content: '';
    background: #9ff07f;
    z-index: -1;
    width: 93%;
    height: 82%;
    right: 33.5%;
    top: 0;
    border-radius: 10rem 50rem 0 0rem;
}
.Services-New-Block-header-ONe{
  display: flex; 
  width: 90%;     
  padding-left: 50px;
}
.Services-New-Block-outer-part
{
    display: flex;
    -webkit-box-flex: 0;
    flex: 0 1 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -377px;

}
.Services-New-Block-header{
  clear: both;
  padding-top: 7.2rem;
  width: 100%;

}
.Services-New-Block-Lower-block-second{
  margin-top: -130px;     
  width: 490px; 
}
.Services-New-Block-Upper-header h4{
  font-size: 22px;
  margin-bottom: -22px;

}
.Services-New-Block-Low-header a{
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #000;
  margin-top: -18px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3.2px;
  position: relative;
  font-family: 'Montserrat', sans-serif; 
}

.Services-New-Block-header-upper-block{
  width: 357px;
  display: flex;
  justify-content: center;
}

.Services-New-Block-Lower-block-one{
  background-color: rgb(243, 64, 64);
  width: 100%;
  border-radius: 40px;
  margin-bottom: 40px;
transition: 0.5s;
color: #f2f2f2;
height: 490px;


}
.Services-New-Block-header-upper-block-hedding{
   font-family: 'Montserrat', sans-serif;     
   margin-top: 100px;
}

.Services-New-Block-Lower-block-one:hover{
  background-color: white;
color: #000;

}

.Services-New-Block-Lower-block-two{
  background-color: rgb(62, 62, 165);
  width: 100%;
  border-radius: 40px;  
  transition: 0.5s;
  color: #f2f2f2;
  height: 445px;


}
.Services-New-Block-Lower-block-two:hover{
  background-color: white;
  color: #000;


}

.Services-New-Block-Lower-block-three{
  background-color: rgb(41, 146, 41);  
  width: 100%;
  border-radius: 40px;
  margin-bottom: 40px;  
  transition: 0.5s;
  color: #f2f2f2;
  height: 445px;


}
.Services-New-Block-Lower-block-three:hover{
  background-color: white;
  color: #000;

}

.Services-New-Block-Lower-block-four{
  background-color: rgb(201, 84, 37);
  width: 100%;
  border-radius: 40px;
  transition: 0.5s;  
  color: #f2f2f2;
  height: 445px;

}
.Services-New-Block-Lower-block-four:hover{

  background-color: white;
  color: #000;

}
.Services-New-Block-image{
  width: 28em;
    margin-top: -32px;
    margin-bottom: -32px;

}
.Services-New-Block-image-first{
  width: 25em;
    margin-top: -32px;
    margin-bottom: -32px;
    height: 198px;
    border-radius: 50px;
}
.Services-New-Block-image-last{
  width: 23em;
  padding-left: 22px;
}

.Services-New-circle-one{
  height: 100px;
  width: 100px;
  background-color: rgba(151, 150, 150, 0.438);
  border-radius: 50%;
}
.Services-New-Square-one{
  height: 100px;
  width: 100px;
  background-color: rgba(0, 0, 0, 0.438);
  border-radius: 20%;
  margin: 1px;
}

.Services-block-circle-block{
  display: flex;
    justify-content: center;
}

.Services-New-circle-one-long
{
  width: 203px;
  border-radius: 53px;
}
.Services-New-circle-one-tall
{
  height: 203px;
  border-radius: 53px;
}
.Services-New-Square-one-tall
{
  height: 203px;
  border-radius: 27px;
}

.Services-New-Square-one-long
{
  width: 203px;
  border-radius: 20px;
}


.Services-New-circle-two-tall{
  height:  203px;
  border-radius: 53px;

}



/*rotate image-03 css*/
.rotate_03{
  position: absolute;
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  animation: spin 4s linear infinite;
}

/*use keyframes*/
@-webkit-keyframes spin{
  100%{-webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin{
  100%{-webkit-transform: rotate(360deg);}
}
@keyframes spin{
  100%{-webkit-transform: rotate(360deg);}
}


.Services-New-circle-one{
  height: 100px;
  width: 100px;
  background-color: rgba(151, 150, 150, 0.438);
  border-radius: 50%;
}
.Services-New-Square-one{
  height: 100px;
  width: 100px;
  background-color: rgba(0, 0, 0, 0.438);
  border-radius: 20%;
  margin: 1px;
}

.Services-block-circle-block{
  display: flex;
    justify-content: center;
}

.Services-New-circle-one-long
{
  width: 203px;
  border-radius: 53px;
}
.Services-New-circle-one-tall
{
  height: 203px;
  border-radius: 53px;
}
.Services-New-Square-one-tall
{
  height: 203px;
  border-radius: 27px;
}

.Services-New-Square-one-long
{
  width: 200px;
  border-radius: 20px;
}


.Services-New-circle-two-tall{
  height:  203px;
  border-radius: 53px;

}




.Services-New-circle-one-image{
  width: 355px;
  height: 355px;
  border-radius: 32px;

}
.Services-New-circle-two-image{

  margin-right: 462px; 
  background-color: rgb(62, 62, 165); 
  margin-top: -79%;
  width: 302px;  
  height: 254px; 
  border-radius: 29px;

}
.Services-New-circle-two-image-one{

  margin-right: 462px; 
  background-color: rgb(62, 62, 165); 
  width: 302px;  
  height: 254px; 
  border-radius: 29px;

}

.Services-New-circle-three-image{
  margin-right: 206px;
  background-color: rgb(62, 62, 165);
  margin-top: -505px;
  width: 302px;
  height: 254px;
  border-radius: 29px;


}
.Services-New-circle-three-image-one{
  margin-right: 206px;
  background-color: rgb(62, 62, 165);
  width: 302px;
  height: 254px;
  border-radius: 29px;


}




.Services-New-circle-one{
  height: 100px;
  width: 100px;
  background-color: rgba(151, 150, 150, 0.438);
  border-radius: 50%;
}
.Services-New-Square-one{
  height: 100px;
  width: 100px;
  background-color: rgba(0, 0, 0, 0.438);
  border-radius: 20%;
  margin: 1px;
}

.Services-block-circle-block{
  display: flex;
    justify-content: center;
}

.Services-New-circle-one-long
{
  width: 203px;
  border-radius: 53px;
}
.Services-New-circle-one-tall
{
  height: 203px;
  border-radius: 53px;
}
.Services-New-Square-one-tall
{
  height: 203px;
  border-radius: 27px;
}

.Services-New-Square-one-long
{
  width: 200px;
  border-radius: 20px;
}


.Services-New-circle-two-tall{
  height:  203px;
  border-radius: 53px;

}




.Services-New-circle-one-image{
  width: 355px;
  height: 355px;
  border-radius: 32px;

}
.Services-New-circle-two-image{

  margin-right: 462px; 
  background-color: rgb(62, 62, 165); 
  margin-top: -760px;
  width: 302px;  
  height: 254px; 
  border-radius: 29px;

}
.Services-New-circle-two-image-one{

  margin-right: 462px; 
  background-color: rgb(62, 62, 165); 
  width: 302px;  
  height: 254px; 
  border-radius: 29px;

}

.Services-New-circle-three-image{
  margin-right: 206px;
  background-color: rgb(62, 62, 165);
  margin-top: -505px;
  width: 302px;
  height: 254px;
  border-radius: 29px;


}
.Services-New-circle-three-image-one{
  margin-right: 206px;
  background-color: rgb(62, 62, 165);
  width: 302px;
  height: 254px;
  border-radius: 29px;


}
.Speak-Your-Language-Ist
  {
    font-size: 20px; text-align: justify;font-weight: 100; line-height: 30px;   padding: 10px 0 60px 0;
  }
.Header-of-p{
  line-height: 23px;
              
}
.bi-search{
  width:3em ;
  height:3em
}
.Block-Speak-Language-Icon{
  display: flex;
  align-items: center;    
  padding: 0 23px 0 0; 
}
.BUILD-BETTER-SOFTWARE-block-p
  {
    font-size: 70px;
    margin-top: 10px;
  }

  .Services-New-Block-Middle-header-h2{
    font-size: 50px;
  }
  .Services-New-Block-header-1st-part{
   padding-right: 40px; 
  width: 490px; 
  }
  .Services-New-Block-Lower-block-one-h1{
    font-size: 25px; 
  }
  .Services-New-Block-Lower-block-one-p{
    font-size: 30px;
    font-weight: 100;     
    padding: 25px 0px 41px 0px;  
   }
   .formContactUs-p{
    color: white;font-weight: 900; line-height: 3;  word-spacing: 3px;
   }
.School-Block{
  width: 500px;
}











/* ----------------------------------------------------Media--Queries--------------------------------------------------------- */
/* ----------------------------------------------------Media--Queries--------------------------------------------------------- */
/* ----------------------------------------------------Media--Queries--------------------------------------------------------- */
/* ----------------------------------------------------Media--Queries--------------------------------------------------------- */
/* ----------------------------------------------------Media--Queries--------------------------------------------------------- */
/* ----------------------------------------------------Media--Queries--------------------------------------------------------- */
/* ----------------------------------------------------Media--Queries--------------------------------------------------------- */
/* ----------------------------------------------------Media--Queries--------------------------------------------------------- */
/* ----------------------------------------------------Media--Queries--------------------------------------------------------- */


@media only screen and (max-width: 830px){

  .logo-img
  {
height: 120px;
  }
  ul{
    margin-top: 200px;
  }
  .img-fluid {
    width: 58em;
  }
  .overlay {
    height: 100%;
  }
  .btn-Banner {
    font-size: 37px;
  }
  .My-Idea_Block-h1{
    font-size: 40px;
  }
  .container.active .shadow.one {
    display: none;  
  }
  .links {
    width: 36%;
  }
  .links a {
    font-size: 50px;
  }
  .container.active .shadow.two {
    display: none;  
  }
  .Speak-Your-Language-block{
    display: block;
  } 
  .Speak-Your-Language-upper-block{
     
  } 
  .Header-of-title1 {
    font-size: 30px;
    padding: 40px 0 25px 0;  }
  .Speak-Your-Language-Ist

  {
    font-size: 43px;
    text-align: justify;
    font-weight: 100;
    line-height: 74px;
    padding: 10px 0 109px 0;
  }
  .card-appenr{
    display: flex;
    flex-direction: column;
  }
  .btnOne {
    font-size: 40px;
    width: 819px;
    height: 70px;
}
.home .home-text {
  text-align: center;
  height: 166px;
  margin-top: 40px;
}
.home .home-text p span{
 
  font-size: 44px;
}
.Header-of-p{
  line-height: 65px;
  font-size: 25px;           
}
.bi-search{
  width:10em ;
  height:10em
}
.Block-Speak-Language {
  display: block;
  text-align: -webkit-center;
  padding: 60px 0 60px 0;

}
.Block-Speak-Language-Icon{
justify-content: center;
}

.School-Block{
  width: 788px;
  text-align: justify;
}
.btn {
  display: inline-block;
  background: rgb(75, 74, 74);
  color: #fff;
  padding: 0.8rem 1.8rem;
  margin-top: 1rem;
  cursor: pointer;
  border-radius: 50px;
  font-size: 25px;

}
  .OurService-block{
    display: flex;
  } 
  .Speak-Your-Language-h1{
    padding-left: 38px;
    padding-top: 121px;
    font-size: 87px;

  } 
  .Speak-Your-Language-right-block{
    padding-left: 19px;
    padding-top: 60px;
            
  } 
  .Speak-Your-Language{
    padding: 30px 45px 180px 45px;
  }
  .Services-New-Block-header-1st-part{
    padding-right: 50px;
    width: 800px;
   }
   .Services-New-Block-Lower-block-one-h1{
     font-size: 65px; 
   }
   .Services-New-Block-Lower-block-one-p{
    font-size: 48px;
    font-weight: 100;     
    padding: 25px 0px 41px 0px;  
   }
   .Services-New-Block-Lower-block-one {
    
    height: 660px;
}
.big-circle1 {
  width: 800px;
  height: 800px;
}
.card img {
  height: 500px;
  width: 800px;
}
.Services-New-Block-Lower-block-two {
  height: 660px;

}

.Services-New-Block-Lower-block-three {
  height: 660px;

} 
 .circle1.two {
  display: none;
  } 
  .circle1.one {
   display: none;
  } 
  .circle.two {
   display: none;
  } 
  .circle.one {
  display: none;
  } 
  .circle1 {
  display: none;
  } 
  .circle {
   display: none;
  } 
  .OurService-bar{  
    margin: 10px 50px -30px 50px;
    height: 40vh;

  }
  .OurService-bar-h1
  {  
    font-size: 80px;

  }.OurService-bar-p
  {  
    font-size: 40px;
    line-height: 50px;

  }
  .OurService-block {
    z-index: 20;
    padding-top: 0px;
    padding-bottom: 70px;
    display: block;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .block-our-SERVICES {
    width: 771px;
    padding: 2% 2% 11% 2%;
    margin: 6%;
    text-align: -webkit-center;

  }
  .home-Slide .slide {
    
    font-size: 53px;
  }
  .home-Slide .caption-Slide a 
  {
    font-size: 38px;
  }
  .home-Slide .caption-Slide {
    width: 76%;
}
.home-Slide .caption-Slide p {
  font-size: 48px;
}
.bi-arrow-left-circle{
  height: 6em;
  width: 6em;
}
  .Header-of-title {
    font-size: 60px;
  }
  .Header-of-title-p {
    font-size: 30px;
  }
  .home-Slide{
    height: 65vh;
  }
  .My-Idea_Block{
    padding-top: 54px;
    padding-bottom: 54px;
    margin-top: 20%;
    margin-bottom: 15%;
  }
  .My-Idea_Block-button-a{
    font-size: 40px;
  }
  .footer-wave-box {
    display: none;
  }
  .single-footer:first-child, .single-footer {
    width: 100%;
    margin-bottom:30px;
  } 
  .img-fluid{
    margin-top: 33px;

  }
  .bi-display{
    width: 10em;
    height: 10em;
  }
  .My-Idea-block{
    width: 100%;
    display: flex;
    justify-content: center;  }
    .My-Idea-block-cm-1 {
      flex-wrap: wrap; 
      width: 80%; 
      padding-top: 0%;
      line-height: 50px;
      margin-right: -40px;

     }
     .My-Idea-block-cm-1-h1 {
      font-size: 70px;
    line-height: 90px;
     }
  .Box-Section-block{
    display: none;
  }
  .Services-New-Block-outer-part{
    margin-top: -180px;
  }
  .BUILD-BETTER-SOFTWARE-block{
   margin-top: 0px;
   font-size: 36px;
   display: none;

  }
  .BUILD-BETTER-SOFTWARE-block-p
  {
    font-size: 100px;
  }
  .Services-New-Block-header-upper-block-hedding{
   margin-left: 82px;

  }
  .Services-New-Block-Upper-header h4 {
    font-size: 50px;
  }
  .Services-New-Block-header-ONe{
   display: block;
   padding-left: 80px;

  }  
  .Services-New-Block-Middle-header-h2{
    font-size: 80px;
  }
  .Services-New-Block-Low-header-a{
    font-size: 35px;
  }
  .Services-New-Block-Lower-block-second{
   margin-top: 44px;     
   width: 803px;

  }
  .Services-New-Block-Lower-block-four
  {
    height: 660px;
  }
  .square {
    top: -65px;
    right: 361px; 
    display: none; 
  }
  .formContactUs {
   margin-right: 0px;
    margin-top: 0;
    max-width: 83%;
  }
  .form-text-box{
   display: block;
   margin-bottom: -37px;

  }
  .input {
    width: 721px;
    border: 2px solid black;
    color: black;
    height: 100px;

  }
  .input-container-right-side {
    position: relative;
    margin: 1rem 0;
    margin-left: 0px;
  }
  .input-one {
    width: 444px;
  }
  .input-container-upper-height {
    margin-top: 55px;
  }
  .Services-New-Block::before{
    position: absolute;
      content: '';
      background: #9ff07f;
      z-index: -1;
      width: 95%;
      height: 93%;
      right: 19.5%;
      top: 0;
      border-radius: 10rem 50rem 0 0rem;
  }
  .footer-main {
    padding: 50px;
    margin-top: -100px;
    margin-bottom: -100px;

  }
  .big-circle-one {
   right: 0px;
   margin-top: 70px;
   display: none
  }
  .big-circle {
   margin-top: -253px;
   left: -4px;
   display: none;
  }


  .square-one {
    display: none;

  }
  .title {
   color: black;
    font-size: 60px;
    margin-bottom: 30px;

  }
  header {
    min-height: 85vh;
  }
.contact-form {
    background-color: white;
 }
 .input-container label
 {font-size: 40px;
  width: 371px;
  background-color: white;
  color: black;

 }
 textarea.input-one {
  min-height: 222px;
  width: 717px;
  border-color: black;
 }

 .white-line-one {
  background-color: #56ad38;
}
.formContactUs-p{
  font-weight: 500;
  line-height: 1;
  word-spacing: 3px;
  text-align: center;
  color: black;
  font-size: 41px;
  padding: 30px 0 30px 0;
} 
.btn-send {
  font-size: 1.95rem;
}

}















/* * {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;

}




button {
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 100%;
  background-image: linear-gradient(135deg, #178a0d 50% ,#071d09f1 50% );
flex-wrap: wrap;
  transform-style: preserve-3d;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 3rem;
}

.menu {
  max-width: 72rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  
  align-items: center;
  color: #fff;
}

.logo {
  margin-top: 3%;
  text-transform: uppercase;
  letter-spacing: 2px;
}


.hamburger-menu {
  height: 4rem;
  width: 3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.bar {
  width: 1.9rem;
  height: 1.5px;
  border-radius: 2px;
  background-color: #eee;
  transition: 0.5s;
  position: relative;
}

.bar:before,
.bar:after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: #eee;
  transition: 0.5s;
}

.bar:before {
  transform: translateY(-9px);
}

.bar:after {
  transform: translateY(9px);
}

.main {
  position: relative;
  width: 100%;
  left: 0;
  z-index: 5;
  overflow: hidden;
  transform-origin: left;
  transform-style: preserve-3d;
  flex-wrap: wrap;

  transition: 0.5s;
}

header {
  min-height: 100vh;
  width: 100%;
  position: relative;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url(../images/development-header.jpg);

}

.inner {
  max-width: 100%;
  text-align: center;
  color: #fff;
  padding: 0 2rem;
  flex-wrap: wrap;

}

.title {
  font-size: 2.7rem;
}

.btn {
  border: none; 
  text-transform: uppercase;
  text-decoration: none;
}



.container.active .bar {
  transform: rotate(360deg);
  background-color: transparent;

}

.container.active .bar:before {
  transform: translateY(0) rotate(45deg);
}

.container.active .bar:after {
  transform: translateY(0) rotate(-45deg);
}

.container.active .main {
  animation: main-animation 0.5s ease;
  cursor: pointer;
  transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);

}

@keyframes main-animation {
  from {
    transform: translate(0);
  }

  to {
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
  }
}

.links {
  position: absolute;
  width: 30%;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}

ul {
  list-style: none;
}

.links a {
  flex-wrap: wrap;

  text-decoration: none;
  color: #eee;
  padding: 0.7rem 0;
  display: inline-block;
  font-size: 2rem;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 4px;
  transition: 0.5s;
  opacity: 5;
  transform: translateY(50px);
  animation: hide 0.7s forwards ease;
}

.links a:hover {
  color: rgb(103, 175, 31);;
}

.container.active .links a {
  animation: appear 0.5s forwards ease var(--i);
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes hide {
  from {
    opacity: 1;
    transform: translateY(0px);
  }
  to {
    opacity: 0;
    transform: translateY(10px);
  }
}

.shadow {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  transform-origin: left;
  transition: 0.5s;
  background-color: white;
}

.shadow.one {
  z-index: -1;
  opacity: 0.15;
}

.shadow.two {
  z-index: -2;
  opacity: 0.1;
}

.container.active .shadow.one {
  animation: shadow-one 0.6s ease-out;
  transform: perspective(1300px) rotateY(20deg) translateZ(215px) scale(0.5);
  flex-wrap: wrap;

  
}

@keyframes shadow-one {
  0% {
    transform: translate(0);
  }

  5% {
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
  }

  100% {
    transform: perspective(1300px) rotateY(20deg) translateZ(215px) scale(0.5);
  }
}

.container.active .shadow.two {
  animation: shadow-two 0.6s ease-out;
  transform: perspective(1300px) rotateY(20deg) translateZ(120px) scale(0.5);
  min-height: 90vh;

}

@keyframes shadow-two {
  0% {
    transform: translate(0);
  }

  20% {
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
  }

  100% {
    transform: perspective(1300px) rotateY(20deg) translateZ(120px) scale(0.5);
  }
}

.container.active .main:hover + .shadow.one {
  transform: perspective(1300px) rotateY(20deg) translateZ(230px) scale(0.5);
}

.container.active .main:hover {
  transform: perspective(1300px) rotateY(20deg) translateZ(340px) scale(0.5);
}






/* -------------------------------------banner----------------------------- */

/* #banner
{
    display: flex;
    flex-wrap: wrap;
    color: rgb(233, 240, 231);
    padding-top: 10%;
    flex-wrap: wrap;

}
#banner h1
{
    flex-wrap: wrap;
    font-weight: 100;
    font-size: 32px;
    font-variant: petite-caps;
    font-family: 'Montserrat', sans-serif;

}


#banner h5
{
    flex-wrap: wrap;
    font-weight: 200;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;

}
hr.green-line {
    height: 2px;
    background-color: #56ad38;
    margin-left: 0px;
    border: none;
    margin-top: px;
    margin-bottom: 10px;
}
.img-fluid{
width: 100px;
} */


/* <!-- -------------------------------------------animate -Text------------------------------------ --> */
/* .Animate-block .animate-text p span{
    display: inline-block;
    flex-wrap: wrap;

}


.container1{
  flex-wrap: wrap;
    margin: auto;
    width: 92%;
  }
  
.container1{
  flex-wrap: wrap;

    margin: auto;
    width: 100%;
  }
.home{
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }
.home::before {
    content: ' ';
    position: absolute;
  
  }
.home .home-text{
    text-align: center;
  }
.home .home-text h1{
    color: #b31111;
    font-size: 50px;
    line-height: 56px;
    margin: 0 0 20px;
  }
.home .home-text p span{
    display: inline-block;
    line-height: 46px;
    font-size: 1.4em;
    display: none;
  }
.home .home-text p span.text-in {
  display: block;  
  animation: textIn .5s ease;
  }
  
.home .home-text p span.text-out {
    animation: textOut .5s ease;
    }
  @keyframes textIn{
    0%{
      transform: translateY(100%);
    }
    100%{
      transform: translateY(0%);
    }
  }
  @keyframes textOut{
    0%{
        transform: translateY(0%);

    }
    100%{
        transform: translateY(-100%);
    }
  } */


 */




















































  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
/* ------------------------OUR RECENT PROJECTS----------------------- */



.big-circle {
  flex-wrap: wrap;

  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: linear-gradient(to bottom, #0af32986, #0af32986);
  bottom: 50%;
  right: 50%;
  transform: translate(-29%, 43%);
}

.big-circle:after {
  flex-wrap: wrap;

  content: "";
  position: absolute;
  width: 360px;
  height: 360px;
  background-color: #fcfcfc;
  border-radius: 50%;
  top: calc(50% - 180px);
  left: calc(50% - 180px);
}



.big-circle1 {
  flex-wrap: wrap;
  position: absolute;
  left: 30px;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: linear-gradient(to bottom, #0af329ab, #0af329ab);
}

.big-circle1:after {
  content: "";
  position: absolute;
  flex-wrap: wrap;

  width: 360px;
  height: 360px;
  background-color: #fcfcfc;
  border-radius: 50%;
  top: calc(50% - 180px);
  left: calc(50% - 180px);
}



.big-circle2 {
  position: absolute;
  flex-wrap: wrap;
  right: 30px;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: linear-gradient(to bottom, #0af329ab, #0af329ab);
}

.big-circle2:after {
  content: "";
  position: absolute;
  flex-wrap: wrap;

  width: 360px;
  height: 360px;
  background-color: #fcfcfc;
  border-radius: 50%;
  top: calc(50% - 180px);
  left: calc(50% - 180px);
}
.body-slider {
  font-size: 1rem;
	font-family: 'Montserrat', sans-serif;
  background: #fff;
}

.Class-a {
  color: #333;
  text-decoration: none;

}
p{
  line-height: 26px;

}

.containerOne {
  max-width: 1217px;
  margin: auto;
  padding: 0 2rem;
  flex-wrap: wrap;
  
}

.main-header {
  height: 55vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;

}

.main-header h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
  line-height: 1.2;
}

.main-header h1 span {
  color: #b50d10;
}

.main-header p {
  font-size: 2rem;
}

img {
  /* width: 100%; */
  flex-wrap: wrap;


}

.card {
  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px,0fr));
  grid-column-gap: 200px;
  /* grid-gap: 2rem; */
    margin-bottom: 24%;

  opacity: 1;
  animation: CardBlock 2s infinite alternate;
}
@keyframes CardBlock{
  0%{
    transform: translateY(card);
  }
  100%{
    transform: translateX(card);
  }
}

.card h3 {
  font-size: 30px;
  color: black;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.card img {
  height: 330px;
  width: 556px;
  border-radius: 330px 0px 0px 330px;
  flex-wrap: wrap;
  position: sticky;



}

.card > div {
  padding: 4rem;
  flex-wrap: wrap;

}

.circle1 {
  border-radius: 50%;
  background: linear-gradient(135deg ,transparent 20%,  #0af32986);
  position: absolute;
}

.circle1.oneI {
  margin-top: 11%;
    width: 130px;
    height: 130px;
    right: 398px;
  
}


.circle1.twoII {
  width: 80px;
  height: 80px;
}
.circle1.threeIII {
  margin-top: 4%;
  width: 130px;
  height: 130px;
  right: 250px;
  
}

.circle1.fourIV {
  margin-top: 20%;
  width: 230px;
  height: 230px;
  left: 76%;
  
}

.circle2 {
  border-radius: 50%;
  background: linear-gradient(135deg ,transparent 20%,  #0af32986);
  position: absolute;
}

.circle2.one1 {
  margin-top: 10%;
  width: 130px;
  height: 130px;
  left: 200px;
  
}


.circle2.two2 {
  width: 80px;
  height: 80px;
}
.circle2.three3 {
  margin-top: 4%;
  width: 130px;
  height: 130px;
  left: 400px;
  
}

.circle2.four4 {
  margin-top: 20%;
  width: 230px;
  height: 230px;
  left: 29% ;
  
}

.card:nth-child(even) img {
  order: 2;
}

.btn {
  display: inline-block;
  background: rgb(75, 74, 74);
  color: #fff;
  padding: 0.8rem 1.8rem;
  margin-top: 1rem;
  cursor: pointer;
  border-radius: 50px;
}

.btn:hover {
  opacity: 0.8;
}

@media only screen and (max-width:600px){
  .card {
    display: list-item;
    padding-top: 416px;

  }
}


